<!--Service Details Start-->
<section class="service-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="service-details__left">
          <div class="service-details__category">
            <ul class="service-details__category-list list-unstyled">
              <li>
                <a href="/commercial_painting"
                  >Commercial Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/interior_painting"
                  >Commercial Interior Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li class="active">
                <a href="/fms"
                  >Facility Maintenance Services <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/fmp"
                  >Facility Maintenance Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>
            </ul>
          </div>
          <div class="service-details__need-help">
            <div
              class="service-details__need-help-bg"
              style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)"
            >
            </div>
            <div class="service-details__need-help-icon">
              <span class="icon-phone-call"></span>
            </div>
            <h2 class="service-details__need-help-title">
              Easy Solutions <br /> to Your Wall <br />
              Beauty
            </h2>
            <div class="service-details__need-help-contact">
              <p>Call anytime</p>
              <a href="tel:14085690310">(408) 569 - 0310</a>
            </div>
          </div>
          <div class="service-details__download">
            <a href="/contact" class="thm-btn service-details__download-btn"
              >Get A Quote</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="service-details__right">
          <div class="service-details__img">
            <img src="assets/images/services/service5.png" alt="" />
            <div class="service-details__icon">
              <span class="icon-wallpaper-4"></span>
            </div>
          </div>
          <div class="service-details__content">
            <h3 class="service-details__content-title">
              Facility Maintenance Services
            </h3>

            <h3 class="service-details__benefits-title">
              Sustain Your Business Growth with Facility Maintenance Services
            </h3>

            <p class="service-details__text-1">
              Business owners and facility managers have a lot to do, but one
              area that can get overlooked when it comes to facility maintenance
              services is paint. Most business owners and managers understand
              that it is important to keep the building clean and orderly, but
              too many underestimate the impact of a fresh coat of paint on your
              facility's overall image. Do you want to sign new clients to a
              lease? Do you want to get more business in San Jose, CA? or the
              greater Bay Area? Then, be sure to contact Marquard Painting for
              corporate facility services today.
            </p>
            <br />
            <h3 class="service-details__benefits-title">
              Why You Need a Commercial Painting Contractor
            </h3>
            <p class="service-details__text-1">
              At Marquard, we know that the bottom line is everything.
              Businesses do not have the luxury of updating things just because
              they want a new look. However, it would be a mistake to consider
              facility maintenance services a whim. Instead, hiring a commercial
              paint contractor like Marquards is actually a smart business move.
              The reasons are simple.
            </p>
            <ul class="text">
              <li>
                <p>
                  Attract Clients: A strong first impression starts with
                  flawless paint.
                </p>
              </li>
              <li>
                <p>
                  Show Professionalism: A polished look builds trust and
                  credibility.
                </p>
              </li>
              <li>
                <p>
                  Build Your Brand: Bold, fresh finishes make your business
                  recognizable.
                </p>
              </li>
              <li>
                <p>
                  Boost Standards: A well-maintained space motivates employees.
                </p>
              </li>
              <li>
                <p>
                  Sustain Growth: Routine paint maintenance supports long-term
                  success.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Service Details End-->
