<!--Blog Page Start-->
<section class="blog-one">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <!--Blog 1 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b1.png" alt="" />
            <a>
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Dec 2, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >What Electrostatic Painting Is and How It Works So Well For
                Your Business</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="200ms"
      >
        <!--Blog 2 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b2.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Nov 2, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Painting Around Customers in San Jose During the Holidays: How
                to Not Deter Shoppers</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <!--Blog 3 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b3.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Oct 1, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Why You Should Paint the Interior of your San Jose Business
                During Winter and Fall Seasons</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="400ms"
      >
        <!--Blog 4 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b4.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Sep 4, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Why Antimicrobial Paint for Businesses is Surging in California</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="500ms"
      >
        <!--Blog 5 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b5.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Aug 5, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >10 Things to Consider When Hiring a Commercial Painter in San
                Jose</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="600ms"
      >
        <!--Blog 6 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b6.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Jul 7, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Why NOW is the Best Time to Paint your Commercial Property in
                San Jose</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <!--Blog 7 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b7.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Jun 2, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >What Are Industrial Coatings Used For?</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="200ms"
      >
        <!--Blog 8 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b8.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Apr 2, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Things to Consider When Painting Your Restaurant</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <!--Blog 9 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b9.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Mar 2, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >The Tasks Involved With Painting A Hotel</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="400ms"
      >
        <!--Blog 10 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b10.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Feb 3, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a >The Benefits of Industrial Painting</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="500ms"
      >
        <!--Blog 11 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b11.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Jan 2, 2020</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >What to Consider When Choosing Commercial Building Paint Colors</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="600ms"
      >
        <!--Blog 12 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b12.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Dec 2, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Common Commercial Painting Challenges</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="100ms"
      >
        <!--Blog 13 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b13.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Nov 1, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >What You Need to Know About Roof Coatings and Installation</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="200ms"
      >
        <!--Blog 14 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b14.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Oct 3, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a >Don’t Forget to Paint Your Ceiling</a>
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <!--Blog 15 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b15.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Sep 3, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Before Hiring a Commercial Painter, Facility Managers Need to
                Know These Tips</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="400ms"
      >
        <!--Blog 16 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b16.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Aug 1, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Commercial Pressure Washing in San Jose</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="500ms"
      >
        <!--Blog 17 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b17.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Jul 5, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a 
                >Can Painting Your Office Increase Productivity in California?</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="600ms"
      >
        <!--Blog 18 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b18.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>May 2, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a >Pros and Cons of Epoxy Floors</a>
            </h3>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="500ms"
      >
        <!--Blog 19 Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/blog/b19.png" alt="" />
            <a >
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class="blog-one__date">
              <p>Feb 15, 2019</p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a 
                  ><i class="far fa-user-circle"></i> By Wayne Marquard
                </a>
              </li>
            </ul>
            <h3 class="blog-one__title">
              <a >Commercial vs. Residential Painting</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Blog Page End-->
