<!--Service Details Start-->
<section class="service-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="service-details__left">
          <div class="service-details__category">
            <ul class="service-details__category-list list-unstyled">
              <li>
                <a href="/commercial_painting"
                  >Commercial Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li class="active">
                <a href="/interior_painting"
                  >Commercial Interior Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/fms"
                  >Facility Managment Services <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/fmp"
                  >Facility Managment Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>
            </ul>
          </div>
          <div class="service-details__need-help">
            <div
              class="service-details__need-help-bg"
              style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)"
            >
            </div>
            <div class="service-details__need-help-icon">
              <span class="icon-phone-call"></span>
            </div>
            <h2 class="service-details__need-help-title">
              Easy Solutions <br /> to Your Wall <br />
              Beauty
            </h2>
            <div class="service-details__need-help-contact">
              <p>Call anytime</p>
              <a href="tel:14085690310">(408) 568 - 0310</a>
            </div>
          </div>
          <div class="service-details__download">
            <a href="/contact" class="thm-btn service-details__download-btn"
              >Get A Quote</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="service-details__right">
          <div class="service-details__img">
            <img
              src="assets/images/services/services-details-img-5.jpg"
              alt=""
            />
            <div class="service-details__icon">
              <span class="icon-wallpaper-4"></span>
            </div>
          </div>
          <div class="service-details__content">
            <h3 class="service-details__content-title">
              Commercial Interior Painting in San Jose, CA
            </h3>

            <p class="service-details__text-1">
              If you would like to hire a company to paint the inside of your
              building, you need a <b>commercial interior painting </b>team on
              which you can depend. At Marquards Painting, we take pride in our
              work and care about each person who enlists our help.
            </p>
            <p class="service-details__text-2">
              With over 28 years of experience, we specialize in all types of
              corporate and commercial painting. Our skilled, dedicated team
              delivers exceptional results and outstanding service every time.
            </p>

            <h3 class="service-details__benefits-title">Increased Trust</h3>
            <p class="service-details__text-1">
              Trust is vital no matter what type of business you operate in San
              Jose, CA. Our <b>commercial painting contractors</b> recommend that
              apartment complexes, offices, sales centers and all other businesses
              take steps to build trust with their customers.
            </p>
            <p class="service-details__text-2">
              Everything you do and say represents your business and the level
              of quality people can expect, so using a commercial painting
              company is wise.
            </p>

            <h3 class="service-details__benefits-title">
              A New Commercial Paint Job Can Boost Morale
            </h3>
            <p class="service-details__text-1">
              A fresh, clean workspace boosts team morale and productivity. Our
              commercial interior painting services create inviting environments
              that inspire your staff and elevate your business.
            </p>

            <h3 class="service-details__benefits-title">
              Professional Appearance
            </h3>
            <p class="service-details__text-1">
              A polished, professional look attracts customers and top talent.
              Our expert painters ensure your property reflects quality and
              helps drive success.
            </p>

            <h3 class="service-details__benefits-title">
              Commercial Painting Services We Provide
            </h3>
            <p class="service-details__text-1">
              We serve corporate facilities, schools, offices, warehouses,
              retail outlets, apartment buildings, and factories—delivering
              expert painting solutions for every space.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Service Details End-->
