<!--Service Details Start-->
<section class="service-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="service-details__left">
          <div class="service-details__category">
            <ul class="service-details__category-list list-unstyled">
              <li>
                <a href="room-wallpapers.html"
                  >Room Wallpapers <span class="fa fa-angle-right"></span></a>
              </li>

              <li>
                <a href="wall-sheets.html"
                  >Wall Sheets <span class="fa fa-angle-right"></span></a>
              </li>

              <li>
                <a href="wall-painting.html"
                  >Wall Painting <span class="fa fa-angle-right"></span></a>
              </li>

              <li>
                <a href="interior-designing.html"
                  >Interior Designing <span class="fa fa-angle-right"
                  ></span></a>
              </li>

              <li>
                <a href="pvc-panels.html"
                  >PVC Panels <span class="fa fa-angle-right"></span></a
                >
              </li>

              <li class="active">
                <a href="outdoor-design.html"
                  >Outdoor Design <span class="fa fa-angle-right"></span></a>
              </li>
            </ul>
          </div>
          <div class="service-details__need-help">
            <div
              class="service-details__need-help-bg"
              style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)"
            >
            </div>
            <div class="service-details__need-help-icon">
              <span class="icon-phone-call"></span>
            </div>
            <h2 class="service-details__need-help-title">
              Easy Solutions <br /> to Your Wall <br />
              Beauty
            </h2>
            <div class="service-details__need-help-contact">
              <p>Call anytime</p>
              <a href="tel:980009630"> + 98 (000) - 9630</a>
            </div>
          </div>
          <div class="service-details__download">
            <a href="about.html" class="thm-btn service-details__download-btn"
              >Download Our Flyers</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="service-details__right">
          <div class="service-details__img">
            <img
              src="assets/images/services/services-details-img-2.jpg"
              alt=""
            />
            <div class="service-details__icon">
              <span class="icon-wallpaper-4"></span>
            </div>
          </div>
          <div class="service-details__content">
            <h3 class="service-details__content-title">Outdoor Design</h3>
            <p class="service-details__text-1">
              Lorem ipsum is simply free text used by copytyping refreshing.
              Neque porro est qui dolorem ipsum quia quaed inventore veritatis
              et quasi architecto beatae vitae dicta sunt explicabo. Aelltes
              port lacus quis enim var sed efficitur turpis gilla sed sit amet
              finibus eros. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the ndustry standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.
            </p>
            <p class="service-details__text-2">
              When an unknown printer took a simply free galley of type and
              scrambled it to make a type specimen book.
            </p>
            <p class="service-details__text-3">
              It has survived not only five centuries. Lorem Ipsum is simply
              dummy text of the new design printng and type setting Ipsum take a
              look at our round. When an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting.
            </p>
          </div>
          <div class="service-details__points-two">
            <div class="row">
              <div class="col-xl-6">
                <div class="service-details__points-two-single">
                  <div class="service-details__points-two-content">
                    <div class="service-details__points-two-icon">
                      <span class="icon-long-paper-roll"></span>
                    </div>
                    <h4>Proin Tempus</h4>
                    <p>
                      There are many of of lorem Ipsum, but the majori have
                      suffered.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="service-details__points-two-single">
                  <div class="service-details__points-two-content">
                    <div class="service-details__points-two-icon">
                      <span class="icon-wallpaper-8"></span>
                    </div>
                    <h4>Proin Tempus</h4>
                    <p>
                      There are many of of lorem Ipsum, but the majori have
                      suffered.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="service-details__benefits">
            <div class="row">
              <div class="col-xl-6">
                <div class="service-details__benefits-img">
                  <img
                    src="assets/images/services/service-details-benefits-img.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="service-details__benefits-right">
                  <h3 class="service-details__benefits-title">Our Benefits</h3>
                  <p class="service-betails__benefits-text-1">
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum.
                  </p>
                  <ul class="list-unstyled service-details__benefits-points">
                    <li>
                      <div class="icon">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="text">
                        <p>Praesent efficitur quam sit amet</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="text">
                        <p>Nunc cursus dolor id purus euismod</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <i class="fa fa-check"></i>
                      </div>
                      <div class="text">
                        <p>Quisque tincidunt eros ac place viverra</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="service-details__faq">
            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
              <div class="accrodion active">
                <div class="accrodion-title">
                  <h4>Nulla eu purus scelerisque, dignissim diam.</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam.
                    </p>
                  </div><!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>Quisque non diam porta, ullamcorper dolor sit amet.</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam.
                    </p>
                  </div><!-- /.inner -->
                </div>
              </div>
              <div class="accrodion">
                <div class="accrodion-title">
                  <h4>How can I make a change to my application?</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam.
                    </p>
                  </div><!-- /.inner -->
                </div>
              </div>
              <div class="accrodion last-chiled">
                <div class="accrodion-title">
                  <h4>Sed mattis neque sed commodo efficitur.</h4>
                </div>
                <div class="accrodion-content">
                  <div class="inner">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam.
                    </p>
                  </div><!-- /.inner -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service Details End-->
