<!--Project Details Start-->
<section class="project-details">
  <div class="container">
    <div class="project-details__img-box">
      <div class="project-details__img">
        <img src="assets/images/project/about2.png" alt="" />
      </div>
      <div class="project-details__details-box">
        <ul class="list-unstyled project-details__details">
          <li>
            <div class="project-details__details-content">
              <span class="project-details__details-title">Clients:</span>
              <p class="project-details__details-name">Mike Hardson</p>
            </div>
          </li>
          <li>
            <div class="project-details__details-content">
              <span class="project-details__details-title">Category:</span>
              <p class="project-details__details-name">Wallpaper, Painting</p>
            </div>
          </li>
          <li>
            <div class="project-details__details-content">
              <span class="project-details__details-title">Services:</span>
              <p class="project-details__details-name">Designing, Painting</p>
            </div>
          </li>
          <li>
            <div class="project-details__details-content">
              <span
                class="project-details__details-title project-details__details-share"
                >Share:</span
              >
              <div class="project-details__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="project-details__room-wallpapers">
      <h3 class="project-details__room-wallpapers-title">About Us</h3>
      <p class="project-details__room-wallpapers-text">
        1994 Wayne Marquard Painting was licensed as a contractor in California.
        I use my name for my company. Which I'm proud and I stand behind it.
        Currently Marquard Painting Inc. My first experience with painting was
        with my Pop painting our family home in Almaden. I was twelve. My
        interest in painting started in the early 70s. I moved to North Lake
        Tahoe looking for new adventures in the High Sierras. Skiing hiking
        sailing fishing backpacking cycling.I loved it all and still do. At the
        same time working restaurants,ski lodges chain control, and a variety of
        seasonal jobs. On a beautiful blue sky day in June I spied five or six
        painters in white clothes. They were painting a gas station across the
        street from the lake. Looked like fun work. I walked over and asked the
        boss" you looking to hire"? Larry Larson (owner) asked " do you have
        painting experience"? I said "yea"!Larry said " you're hired show up
        tomorrow 8 a.m. with your whites". Whites? Immediately drove to Sears in
        Reno about an hour away and purchased a pair of white painter overalls.
      </p>
    </div>
    <div class="project-details__challenge">
      <h3 class="project-details__challenge-title">The Challenge of Project</h3>
      <p class="project-details__challenge-text">
        Work for Larry Larson for quite a few years painting lake front homes,
        vacation cabins condominiums, restaurants, and resorts. Larry Larson
        painting was very successful and retired in the 80s. I moved to the Bay
        Area got married raise three kids and a painting business. The kids are
        all grown. Marquard painting is still growing. With the help of some
        great individuals,family-oriented ,skilled painters. The next two
        decades the majority of our work was residential high end new and
        repaint.
      </p>
      <br />
      <div class="project-details__challenge">
        <h3 class="project-details__challenge-title">
          Services Provided By Marquard
        </h3>

        <div class="project-details__points-box">
          <div class="row">
            <div class="col-xl-5 col-lg-5">
              <div class="project-details__points-img">
                <img src="assets/images/project/about1.png" alt="" />
              </div>
            </div>
            <div class="col-xl-7 col-lg-7">
              <div class="project-details__points-content-box">
                <ul class="list-unstyled project-details__points">
                  <li>
                    <div class="icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Lorem Ipsum generators on the Internet tend uses a
                        dictionary.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        The majority have alteration in some form of over 200
                        Latin words.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        There are many variations of passages of available
                        slightly.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="text">
                      <p>We are providing across ome form our customer base.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project-details__result">
        <h3 class="project-details__result-title">The Result of Project</h3>
        <p class="project-details__result-text">
          The projects included a wide variety of finishes. With a lot of
          finishing of cabinetry and millwork. Using stains,glazes,dyes, lacquer
          polyurethane ,and enamel. Do it right the first time are or you own
          the cabinets. It's hard work,stressful and unhealthy. We were very
          good at it. The crew also has traveled to paint customer's vacation
          homes, most recently Hawaii for 20 days. Currently Marquard is seeking
          corporate and maintenance facility painting accounts. Our accounts
          include Jones Lang LaSalle, Intuit Mountain View since 07, McManis
          Falkner law firm since 94, WeWork,Cloudera, Almaden Country School,
          Alt School San Francisco. After 45 years of painting I still enjoy
          every day,new projects,accounts and challenges. I promise you a great
          painting experience. Give me a shout and we'll talk about your
          painting needs. Done once, done right, on time or your money back.
        </p>
      </div>

      <!--Project Details End-->
    </div>
  </div>
</section>
