<!--Leading Start-->
<section class="leading">
  <div class="leading-bg-box">
    <div
      class="leading-bg jarallax"
      data-jarallax
      data-speed="0.2"
      data-imgPosition="50% 0%"
      style="background-image: url(assets/images/backgrounds/leading-bg.jpg);"
    >
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-6">
        <div class="leading__left">
          <div class="leading__video-link">
            <a
              href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
              class="video-popup"
            >
              <div class="leading__video-icon">
                <span class="fa fa-play"></span>
                <i class="ripple"></i>
              </div>
            </a>
          </div>
          <h3 class="leading__title">
            Leadeing in Commercial Interior Painting Market
          </h3>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6">
        <div class="leading__right">
          <ul class="list-unstyled leading__points">
            <li>
              <div class="icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="text">
                <p>We’re expert & certified designers</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="text">
                <p>We use only quality materials</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="text">
                <p>We care about our customers</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="text">
                <p>Smart & unique wall designs</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Leading End-->
