<!--Service Details Start-->
<section class="service-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="service-details__left">
          <div class="service-details__category">
            <ul class="service-details__category-list list-unstyled">
              <li>
                <a href="/commercial_painting"
                  >Commercial Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/interior_painting"
                  >Commercial Interior Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/fms"
                  >Facility Managment Services <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li class="active">
                <a href="/fmp"
                  >Facility Managment Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>
            </ul>
          </div>
          <div class="service-details__need-help">
            <div
              class="service-details__need-help-bg"
              style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)"
            >
            </div>
            <div class="service-details__need-help-icon">
              <span class="icon-phone-call"></span>
            </div>
            <h2 class="service-details__need-help-title">
              Easy Solutions <br /> to Your Wall <br />
              Beauty
            </h2>
            <div class="service-details__need-help-contact">
              <p>Call anytime</p>
              <a href="tel:14085690310">(408) 568 - 0310</a>
            </div>
          </div>
          <div class="service-details__download">
            <a href="/contact" class="thm-btn service-details__download-btn"
              >Get A Quote</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="service-details__right">
          <div class="service-details__img">
            <img src="assets/images/services/service4.png" alt="" />
            <div class="service-details__icon">
              <span class="icon-wallpaper-4"></span>
            </div>
          </div>
          <div class="service-details__content">
            <h3 class="service-details__content-title">
              Facility Maintenance Painting
            </h3>

            <p class="service-details__text-1">
              When you have a business, keeping real estate in top form is one
              of the most important challenges you'll face over the years.
              Whether you own a warehouse or manage a property for other
              clients, the fight against property depreciation is a never-ending
              struggle. Facility maintenance painting is one area where many
              business owners often fall behind. While quality property painting
              is hard to secure, it's one of the most vital facility maintenance
              services for busy property owners and managers.
            </p>

            <h3 class="service-details__benefits-title">
              Marquard Painting: Facility Painting
            </h3>
            <p class="service-details__text-1">
              For over 28 years, Marquard Painting has been the commercial
              painting outfit based in San Jose, CA. We specialize in painting
              corporate and industrial facilities based on the unique
              requirements of property owners.
            </p>

            <h3 class="service-details__benefits-title">
              The Marquard Difference
            </h3>
            <p class="service-details__text-1">
              There are two reasons why Marquard consistently delivers some of
              the best painting services in the nation: customer support and
              attention to detail. We pride ourselves on listening to our
              clients and finding out exactly what they want.
            </p>
            <p class="service-details__text-2">
              Once we've conferred with our customers, we craft a bespoke plan
              of action for the specific situation at hand that will produce
              long-lasting results.
            </p>
          </div>
        </div>
        <div class="service-details__benefits" style="margin-top:-70px">
          <h3 class="service-details__benefits-title">
            Facilities That We Often Paint
          </h3>
          <p class="service-details__text-1">
            At Marquard, our facility maintenance services can be applied to a
            variety of structures throughout California. We routinely paint a
            broad array of both public and private buildings:
          </p>
          <br />
          <div class="row">
            <div class="col-xl-6">
              <div class="service-details__benefits-right">
                <ul class="list-unstyled service-details__benefits-points">
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Residential High-Rise Properties</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Warehouses and Industrial Buildings</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Retail Properties</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Apartments and Condominiums</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>High-End Residential Properties</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Manufacturing Facilities</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6">
              <ul class="list-unstyled service-details__benefits-points">
                <li>
                  <div class="icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="text">
                    <p>Corporate Facilities</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="text">
                    <p>Commercial Properties</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="text">
                    <p>Private Schools</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="text">
                    <p>Office Buildings</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="text">
                    <p>Law Firms</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Service Details End-->
