<!--Service Details Start-->
<section class="service-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="service-details__left">
          <div class="service-details__category">
            <ul class="service-details__category-list list-unstyled">
              <li class="active">
                <a href="/commercial_painting"
                  >Commercial Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/interior_painting"
                  >Commercial Interior Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/fms"
                  >Facility Managment Services <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>

              <li>
                <a href="/fmp"
                  >Facility Managment Painting <span class="fa fa-angle-right"
                  ></span></a
                >
              </li>
            </ul>
          </div>
          <div class="service-details__need-help">
            <div
              class="service-details__need-help-bg"
              style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)"
            >
            </div>
            <div class="service-details__need-help-icon">
              <span class="icon-phone-call"></span>
            </div>
            <h2 class="service-details__need-help-title">
              Easy Solutions <br /> to Your Wall <br />
              Beauty
            </h2>
            <div class="service-details__need-help-contact">
              <p>Call anytime</p>
              <a href="tel:14085690310">(408) 568 - 0310</a>
            </div>
          </div>
          <div class="service-details__download">
            <a href="/contact" class="thm-btn service-details__download-btn"
              >Get A Quote</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="service-details__right">
          <div class="service-details__img">
            <img
              src="assets/images/services/services-details-img-5.jpg"
              alt=""
            />
            <div class="service-details__icon">
              <span class="icon-wallpaper-4"></span>
            </div>
          </div>
          <div class="service-details__content">
            <h3 class="service-details__content-title">
              Commercial Painting For San Jose, CA
            </h3>

            <h3 class="service-details__benefits-title">
              Commercial Painting Services We Offer
            </h3>
            <p class="service-details__text-1">
              We specialize in all corporate, industrial, facility maintenance,
              and commercial painting, as well as specialty coating. After
              working with businesses for almost three decades, we know that
              professional painting isn't a one-time job.
            </p>
            <p class="service-details__text-2">
              We offer a variety of maintenance programs to allow you the
              convenience of a plan that works well for you, as well as the
              peace of mind in knowing your company will not only look great but
              continue to be refreshed to keep it looking its best for years to
              come.
            </p>

            <h3 class="service-details__benefits-title">Areas We Cover</h3>
            <p class="service-details__text-1">
              We provide expert painting services for businesses throughout the
              San Jose, CA area and also specialize in high-end residential
              projects.
            </p>
            <p class="service-details__text-2">
              Whether your home needs a fresh, professional touch or your
              facility requires reliable service, we deliver exceptional
              results. Our work spans a wide range of businesses and facilities.
            </p>
          </div>
        </div>
        <div class="service-details__benefits" style="margin-top:-70px">
          <div class="row">
            <div class="col-xl-6">
              <div class="service-details__benefits-right">
                <ul class="list-unstyled service-details__benefits-points">
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Corporate Facilities</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Commercial Properties</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Private Schools</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Office Buildings</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Law Firms</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Manufacturing Facilities</p>
                    </div>
                  </li>

                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Residential High-Rise Properties</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Warehouses and Industrial Buildings</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Retail Properties</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>Apartments and Condominiums</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="text">
                      <p>High-End Residential Properties</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="service-details__benefits-img">
                <img
                  src="assets/images/services/service-details-benefits-img.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Service Details End-->
