<!--About One Start-->
<section class="about-one">
  <div class="about-one-shape-2 float-bob-x"></div>
  <div class="about-one-wall">
    <img src="assets/images/shapes/about-one-wall.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="about-one__left">
          <div class="section-title text-left">
            <span class="section-title__tagline">About company</span>
            <h2 class="section-title__title">
              We’re Providing Quality Wall Designs
            </h2>
            <div class="section-title__line"></div>
          </div>
          <p class="about-one__text-1">
            We have 30+ years of experiences for give you better quality
            results.
          </p>
          <ul class="list-unstyled about-one__points">
            <li>
              <div class="about-one__points-content-box">
                <div class="about-one__points-icon">
                  <span class="icon-wallpaper"></span>
                </div>
                <div class="about-one__points-text-box">
                  <p class="about-one__points-text">Smart & Unique Wall Work</p>
                </div>
              </div>
            </li>
            <li>
              <div class="about-one__points-content-box">
                <div class="about-one__points-icon">
                  <span class="icon-high-quality"></span>
                </div>
                <div class="about-one__points-text-box">
                  <p class="about-one__points-text">
                    The Best Quality Standards
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <p class="about-one__text-2">
            Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua lonm
            andhn. Aenean tincidunt id mauris id auctor donec at ligula lacus.
          </p>
          <div class="about-one__contact-us">
            <div class="about-one__btn-box">
              <a href="about.html" class="thm-btn about-one__btn"
                >Read More About</a
              >
            </div>
            <div class="about-one__call">
              <div class="about-one__call-icon">
                <span class="icon-phone-call"></span>
              </div>
              <div class="about-one__call-text">
                <p>Call anytime</p>
                <a href="tel:980009630">+ 98 (000) - 9630</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="about-one__right">
          <div
            class="about-one__img-box wow slideInRight"
            data-wow-delay="100ms"
            data-wow-duration="2500ms"
          >
            <div class="about-one__img">
              <img src="assets/images/resources/about-one-img-1.jpg" alt="" />
            </div>
            <div class="about-one__small-img">
              <img
                src="assets/images/resources/about-one-small-img.jpg"
                alt=""
              />
            </div>
            <div class="about-one__project">
              <div class="about-one__project-icon">
                <span class="icon-wallpaper-1"></span>
              </div>
              <div class="about-one__project-content">
                <h3 class="odometer" data-count="3690">00</h3>
                <p class="about-one__project-text">Successful Project</p>
              </div>
            </div>
            <div class="about-one__shape-1 float-bob-y"></div>
            <div class="about-one__dot">
              <img src="assets/images/shapes/about-one-dots.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About One End-->
