<!--Blog One Start-->
<section class="blog-one">
  <div class="container">
    <div class="section-title text-center">
      <span class="section-title__tagline">News & Updates</span>
      <h2 class="section-title__title">News & Articles</h2>
      <div class="section-title__line"></div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
        <!--Blog One Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/resources/img4.png
            " alt="" />
            <a href="/blogs">
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class=" ">
              <p></p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a href="/blogs"
                  ><i class="  "></i>  
                </a>
              </li>
              <!-- <li><span>/</span></li>
              <li>
                <a href="blog-details.html"
                  ><i class="far fa-comments"></i> 02 Comments</a
                >
              </li> -->
            </ul>
            <h3 class="blog-one__title">
              <a href="/blogs"
                >Things to Consider When Painting Your Restaurant</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
        <!--Blog One Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/resources/img5.png" alt="" />
            <a href="/blogs">
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class=" ">
              <p></p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a href="/blogs"
                  ><i class="  "></i>  
                </a>
              </li>
              <!-- <li><span>/</span></li>
              <li>
                <a href="blog-details.html"
                  ><i class="far fa-comments"></i> 02 Comments</a
                >
              </li> -->
            </ul>
            <h3 class="blog-one__title">
              <a href="/blogs">The Tasks Involved With Painting A Hotel</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
        <!--Blog One Start-->
        <div class="blog-one__single">
          <div class="blog-one__img">
            <img src="assets/images/resources/img6.png" alt="" />
            <a href="/blogs">
              <span class="blog-one__plus"></span>
            </a>
          </div>
          <div class="blog-one__content">
            <div class=" ">
              <p></p>
            </div>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a href="/blogs"
                  ><i class="  "></i>  
                </a>
              </li>
              <!-- <li><span>/</span></li>
              <li>
                <a href="blog-details.html"
                  ><i class="far fa-comments"></i> 02 Comments</a
                >
              </li> -->
            </ul>
            <h3 class="blog-one__title">
              <a href="/blogs">The Benefits of Industrial Painting</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Blog One End-->
