<!--Newsletter Start-->
<section class="newsletter">
  <div class="container">
    <div class="newsletter__inner wow fadeInUp" data-wow-delay="100ms">
      <div
        class="newsletter-shape-1"
        style="
                background-image: url(assets/images/shapes/newsletter-shape-1.png);
              "
      >
      </div>
      <div class="newsletter__left">
        <h3 class="newsletter__title">Join Our Newsletter</h3>
        <p class="newsletter__text">
          Lorem ipsum dolor amet, elit do eiusmod sed
        </p>
      </div>
      <div class="newsletter__right">
        <form class="newsletter__form">
          <div class="newsletter__input-box">
            <input type="email" placeholder="Enter your email" name="email" />
            <button type="submit" class="thm-btn newsletter__btn">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Newsletter End-->
