<!--Product Description Start-->
<section class="product-description">
  <div class="container">
    <h3 class="product-description__title">
      Marquard is up to the task on any job
    </h3>
    <p class="product-description__text1">
      Marquard has seen it all. And our facility maintenance company has the
      right team for nearly any industry. We handle commercial painting service
      for:
    </p>
    <div class="product-description__list">
      <ul class="list-unstyled">
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Apartment and condominium
            buildings.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Corporate facility
            maintenance.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Factories and Warehouses.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Office coating maintenance.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span>Public and private
            school painting.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Residential high rise
            and high-end homes.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> And nearly any other
            commercial painting job.
          </p>
        </li>
      </ul>
    </div>
    <p class="product-description__tex2">
      We also have decades of experience carrying out many other routines but
      often-difficult and labor-intensive corporate facility services,
      including:
    </p>

    <div class="product-description__list">
      <ul class="list-unstyled">
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Dry erase wall coatings.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Floor coatings.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Drywall repair.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> Pressure washing.
          </p>
        </li>
        <li>
          <p>
            <span class="fas fa-long-arrow-alt-right"></span> And graffiti removal
            and abatement.
          </p>
        </li>
      </ul>
    </div>
    <p class="product-description__tex2">
      Marquard painting is still growing. With the help of some great individuals, family-oriented, skilled painters. They have worked with him for over twenty years and longer
    </p>
  </div>

  <!--Product Description End-->
</section>

<div style="margin-bottom: 200px;"></div>
