<!--Feature One Start-->
<section class="feature-one">
  <div class="container">
    <ul class="list-unstyled feature-one__list">
      <!--Feature One Single-->
      <li class="feature-one__single wow fadeInLeft" data-wow-delay="100ms">
        <div class="feature-one__content">
          <div class="feature-one__shape-1">
            <img src="assets/images/shapes/feature-one-shape-1.png" alt="" />
          </div>
          <div class="feature-one__shape-2">
            <img src="assets/images/shapes/feature-one-shape-2.png" alt="" />
          </div>
          <div class="feature-one__icon">
            <span class="icon-mind"></span>
          </div>
          <h3 class="feature-one__title">
            <a href="about.html">Corporate <br />Facility <br />Services</a>
          </h3>
          <p class="feature-one__text">
            Seamless maintenance solutions - so you can focus on what matters
            most.
          </p>
          <!-- <div class="feature-one__arrow">
            <a href="about.html"><i class="fa fa-arrow-right"></i></a>
          </div> -->
        </div>
      </li>
      <!--Feature One Single-->
      <li class="feature-one__single wow fadeInLeft" data-wow-delay="200ms">
        <div class="feature-one__content">
          <div class="feature-one__shape-1">
            <img src="assets/images/shapes/feature-one-shape-1.png" alt="" />
          </div>
          <div class="feature-one__shape-2">
            <img src="assets/images/shapes/feature-one-shape-2.png" alt="" />
          </div>
          <div class="feature-one__icon">
            <span class="icon-wallpaper-2"></span>
          </div>
          <h3 class="feature-one__title">
            <a href="about.html">Industrial & Warehouse Maintenance</a>
          </h3>
          <p class="feature-one__text">
            Proactive care that prevents downtime and keeps operations moving.
          </p>
          <!-- <div class="feature-one__arrow">
            <a href="about.html"><i class="fa fa-arrow-right"></i></a>
          </div> -->
        </div>
      </li>
      <!--Feature One Single-->
      <li class="feature-one__single wow fadeInLeft" data-wow-delay="300ms">
        <div class="feature-one__content">
          <div class="feature-one__shape-1">
            <img src="assets/images/shapes/feature-one-shape-1.png" alt="" />
          </div>
          <div class="feature-one__shape-2">
            <img src="assets/images/shapes/feature-one-shape-2.png" alt="" />
          </div>
          <div class="feature-one__icon">
            <span class="icon-programmer"></span>
          </div>
          <h3 class="feature-one__title">
            <a href="team.html">Office & Residential Property Maintenance</a>
          </h3>
          <p class="feature-one__text">
            Fast, reliable upkeep and turnover solutions that keep properties
            market-ready.
          </p>
          <!-- <div class="feature-one__arrow">
            <a href="team.html"><i class="fa fa-arrow-right"></i></a>
          </div> -->
        </div>
      </li>
      <!--Feature One Single-->
      <!-- <li class="feature-one__single wow fadeInLeft" data-wow-delay="400ms">
        <div class="feature-one__content">
          <div class="feature-one__shape-1">
            <img src="assets/images/shapes/feature-one-shape-1.png" alt="" />
          </div>
          <div class="feature-one__shape-2">
            <img src="assets/images/shapes/feature-one-shape-2.png" alt="" />
          </div>
          <div class="feature-one__icon">
            <span class="icon-best-price"></span>
          </div>
          <h3 class="feature-one__title">
            <a href="contact.html">Best Pricing</a>
          </h3>
          <p class="feature-one__text">
            There are many of pass of lorem ipsum available, but the majority.
          </p>
          <div class="feature-one__arrow">
            <a href="contact.html"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>
<!--Feature One End-->
