<section class="main-slider clearfix">
  <div
    class="main-slider__carousel thm-owl__carousel owl-carousel"
    data-owl-options='{
      "loop": true,
      "animateOut": "fadeOut",
      "animateIn": "fadeIn",
      "items": 1,
      "autoplay": true,
      "autoplayTimeout": 7000,
      "smartSpeed": 1000,
      "nav": false,
      "dots": false,
      "margin": 0
    }'
  >
    <div class="item">
      <div
        class="image-layer"
        style="background-image: url(assets/images/backgrounds/main-slider-1-1.jpg);"
      ></div>

      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="main-slider__content">
              <div class="main-slider__icon">
                <img src="assets/images/shapes/main-slider-icon.png" alt="">
              </div>

              <div class="main-slider__sub-title-box">
                <p class="main-slider__sub-title">WE SERVE</p>
              </div>

              <h2 class="main-slider__title">
                Commercial <span>|</span> Industrial <span>|</span> Residential
              </h2>

              <p class="main-slider__sub-title">
                Marquard Painting listens, plans, and delivers exceptional painting results — built on partnership.
              </p>
              <br>

              <div class="main-slider__btn-box">
                <a href="/about" class="thm-btn main-slider__btn">Get A Free Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--Main Slider End-->

<style>
  .main-slider .owl-carousel .owl-nav .owl-next,
  .main-slider .owl-carousel .owl-nav .owl-prev {
    display: none !important;
  }
</style>
