<!--Quality Work Start-->
<section class="quality-work">
  <div class="quality-work-shape-1 float-bob-x">
    <img src="assets/images/shapes/quality-work-shape-1.png" alt="" />
  </div>
  <div class="quality-work-shape-2 float-bob-y">
    <img src="assets/images/shapes/quality-work-shape-2.png" alt="" />
  </div>
  <div class="quality-work-shape-3 float-bob-x">
    <img src="assets/images/shapes/quality-work-shape-3.png" alt="" />
  </div>
  <div class="quality-work-shape-4">
    <img src="assets/images/shapes/quality-work-shape-4.png" alt="" />
  </div>
  <div class="quality-work-shape-5 float-bob-x">
    <img src="assets/images/shapes/quality-work-shape-5.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="quality-work__left">
          <div class="quality-work__img-box">
            <div class="quality-work__img">
              <img src="assets/images/resources/img2.png" alt="" />
            </div>
            <div class="quality-work__small-img">
              <img src="assets/images/resources/img3.png" alt="" />
            </div>
            <div class="quality-work__video-box">
              <!-- <div class="quality-work__curved-circle-box">
                <div class="curved-circle">
                  <span class="curved-circle--item">NEW COLLECTION 2022.</span>
                </div>
                /.curved-circle
                <div class="quality-work__video-link">
                  <a
                    href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
                    class="video-popup"
                  >
                    <div class="quality-work__video-icon">
                      <span class="fa fa-play"></span>
                    </div>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="quality-work__right">
          <div class="section-title text-left">
            <span class="section-title__tagline"
              >Commercial Interior Painting in San Jose, CA</span
            >
            <h2 class="section-title__title">
              Quality Work That Meets Your Expectations
            </h2>
            <div class="section-title__line"></div>
          </div>
          <p class="quality-work__text-1">
            If you would like to hire a company to paint the inside of your
            building, you need a commercial interior painting team on which you
            can depend.
          </p>
          <ul class="list-unstyled quality-work__feature">
            <li>
              <div class="icon">
                <span class="icon-image-gallery1"></span>
              </div>
              <div class="text">
                <p>
                  Innovative <br />
                  Wall Paintings
                </p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="icon-wallpaper-5"></span>
              </div>
              <div class="text">
                <p>
                  High Quality Paint <br />
                  Materials
                </p>
              </div>
            </li>
          </ul>
          <p class="quality-work__text-2">
            We have been in the business for more than 28 years and specialize
            in corporate and commercial painting of all types. Our in-depth
            understanding of paint and its application lets us deliver results
            of which anyone would be proud.
          </p>
          <!-- <div class="quality-work__progress">
            <div class="quality-work__progress-single">
              <h4 class="quality-work__progress-title">Interior Wall Design</h4>
              <div class="bar">
                <div class="bar-inner count-bar" data-percent="88%">
                  <div class="count-text">88%</div>
                </div>
              </div>
            </div>
            <div class="quality-work__progress-single">
              <h4 class="quality-work__progress-title">Exterior Painting</h4>
              <div class="bar marb-0">
                <div class="bar-inner count-bar" data-percent="60%">
                  <div class="count-text">60%</div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Quality Work End-->
