<!doctype html>
<html lang="en">
  <!-- Added by HTTrack -->
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  /><!-- /Added by HTTrack -->

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Marquard Painting Inc.</title>
  <!-- favicons Icons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="assets/images/favicons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="assets/images/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="assets/images/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
  <meta name="description" content="Ambed HTML 5 Template " />

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="assets/vendors/bootstrap/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
  <link rel="stylesheet" href="/assets/vendors/animate/custom-animate.css" />
  <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
  <link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
  <link
    rel="stylesheet"
    href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
  />
  <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.min.css" />
  <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.pips.css" />
  <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
  <link rel="stylesheet" href="assets/vendors/slick/slick.css" />
  <link rel="stylesheet" href="assets/vendors/ambed-icons/style.css" />
  <link
    rel="stylesheet"
    href="assets/vendors/tiny-slider/tiny-slider.min.css"
  />
  <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />
  <link
    rel="stylesheet"
    href="assets/vendors/owl-carousel/owl.carousel.min.css"
  />
  <link
    rel="stylesheet"
    href="assets/vendors/owl-carousel/owl.theme.default.min.css"
  />
  <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
  <link
    rel="stylesheet"
    href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css"
  />
  <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
  <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
  <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />

  <!-- template styles -->
  <link rel="stylesheet" href="assets/css/ambed.css" />
  <link rel="stylesheet" href="assets/css/ambed-responsive.css" />

  <!-- modes css -->
  <link rel="stylesheet" id="jssMode" href="assets/css/ambed-light.css" />

  <!-- toolbar css -->
  <link rel="stylesheet" href="assets/vendors/toolbar/css/toolbar.css" />

  <body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <!-- style switcher -->
    <!-- <div class="style-switcher">
      <a href="#" id="switcher-toggler"><i class="fa fa-cog"></i></a>
      <h3>Layout Options</h3>
      <div class="layout-feature" id="colorMode">
        <a href="#" class="dark-switcher" data-theme="ambed-dark">Dark</a>
        <a href="#" class="light-switcher" data-theme="ambed-light">Light</a>
        <button class="boxed-switcher">Boxed</button> /.ltr-switcher 
      </div> -->
    <!-- /.language-feature -->
    <!-- </div> -->
    <!-- end style switcher -->

    <div class="preloader">
      <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
      <header class="main-header clearfix">
        <div class="main-header__top">
          <div class="container">
            <div class="main-header__top-inner clearfix">
              <div class="main-header__logo">
                <a href="/index">
                  <img
                    height="61"
                    width="145"
                    src="assets/images/resources/logoTemp.png"
                    alt=""
                    class="dark-logo"
                  />
                  <img
                    height="61"
                    width="145"
                    src="assets/images/resources/logoTemp.png"
                    alt=""
                    class="light-logo"
                  />
                </a>
              </div>
              <div class="main-header__top-right">
                <div class="main-header__top-right-content">
                  <div class="main-header__top-address-box">
                    <ul class="list-unstyled main-header__top-address">
                      <li>
                        <div class="icon">
                          <span class="icon-phone-call"></span>
                        </div>
                        <div class="content">
                          <p>Call Us Today</p>
                          <h5>
                            <a href="tel:14085690310">(408) 568 - 0310</a>
                          </h5>
                        </div>
                      </li>
                      <li>
                        <div class="icon">
                          <span class="icon-message"></span>
                        </div>
                        <div class="content">
                          <p>Send email</p>
                          <h5>
                            <a href="mailto:marquardpaint@gmail.com"
                              >marquardpaint@gmail.com</a
                            >
                          </h5>
                        </div>
                      </li>
                      <li>
                        <div class="icon icon--location">
                          <span class="icon-location"></span>
                        </div>
                        <div class="content">
                          <p>PO box 8482</p>
                          <h5>San Jose, CA 95155</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="main-header__top-right-social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="main-menu clearfix">
          <div class="main-menu__wrapper clearfix">
            <div class="container">
              <div class="main-menu__wrapper-inner clearfix">
                <div class="main-menu__left">
                  <div class="main-menu__main-menu-box">
                    <a href="#" class="mobile-nav__toggler"
                      ><i class="fa fa-bars"></i></a
                    >
                    <ul class="main-menu__list">
                      <li class="dropdown current megamenu">
                        <a href="/">Home </a>
                      </li>
                      <li>
                        <a href="/about">About </a>
                      </li>
                      <li class="dropdown">
                        <a href="#"
                          >Services <span class=""></span></a
                        >
                        <ul class="submenu">
                          <li>
                            <a href="/commercial_painting"
                              >Commercial Painting</a
                            >
                          </li>
                          <li>
                            <a href="/interior_painting"
                              >Commercial Interior Painting</a
                            >
                          </li>
                          <li>
                            <a href="/fmp">Facility Maintenance Painting</a>
                          </li>
                          <li>
                            <a href="/fms">Facility Maintenance Services</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="/blogs">Blog</a>
                      </li>
                      <li><a href="/contact">Contact </a></li>
                    </ul>
                  </div>
                </div>
                <div class="main-menu__right">
                  <div class="main-menu__search-btn-box">
                    <!-- <div class="main-menu__search-box">
                      <a
                        href="#"
                        class="main-menu__search search-toggler icon-magnifying-glass"
                      ></a>
                    </div> -->
                    <div class="main-menu__btn-box">
                      <a href="/contact" class="thm-btn main-menu__btn"
                        >Get A Quote</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div>
        <!-- /.sticky-header__content -->
      </div>
      <!-- /.stricky-header -->

      <slot />

      <!--Site Footer Start-->
      <footer class="site-footer">
        <div
          class="site-footer-bg"
          style="
            background-image: url(assets/images/backgrounds/site-footer-bg.jpg);
          "
        >
        </div>
        <div class="site-footer__top">
          <div class="container">
            <div class="row">
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="100ms"
              >
                <div class="footer-widget__column footer-widget__about">
                  <div class="footer-widget__logo">
                    <a href="/index"
                      ><img
                        height="61"
                        width="145"
                        src="assets/images/resources/logoTemp.png"
                        alt=""
                        class="light-logo"
                      /></a
                    >
                  </div>
                  <div class="footer-widget__about-text-box">
                    <p class="footer-widget__about-text">
                      We work with a passion of taking challenges and creating
                      new ones in advertising sector.
                    </p>
                  </div>
                  <div class="site-footer__social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="200ms"
              >
                <div
                  class="footer-widget__column footer-widget__explore clearfix"
                >
                  <h3 class="footer-widget__title">Explore</h3>
                  <ul
                    class="footer-widget__explore-list list-unstyled clearfix"
                  >
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li>
                      <a href="/commercial_painting">Commercial Painting</a>
                    </li>
                    <li>
                      <a href="/interior_painting"
                        >Commercial Interior Painting</a
                      >
                    </li>
                    <li><a href="/fms">Facility Maintenance Services</a></li>
                    <li><a href="/fmp">Facility Maintenance Painting</a></li>
                  </ul>
                </div>
              </div>
              <!-- <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="300ms"
              >
                <div
                  class="footer-widget__column footer-widget__services clearfix"
                >
                  <h3 class="footer-widget__title">Services</h3>
                  <ul
                    class="footer-widget__services-list list-unstyled clearfix"
                  >
                    <li><a href="room-wallpapers.html">Room Wallpaper</a></li>
                    <li><a href="wall-painting.html">Wall Painting</a></li>
                    <li><a href="wall-sheets.html">Wall Sheets</a></li>
                    <li><a href="outdoor-design.html">Outdoor Designs</a></li>
                    <li><a href="pvc-panels.html">PVC Panels</a></li>
                    <li>
                      <a href="interior-designing.html">Interior Design</a>
                    </li>
                  </ul>
                </div>
              </div> -->
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="400ms"
              >
                <div
                  class="footer-widget__column footer-widget__contact clearfix"
                >
                  <h3 class="footer-widget__title">Contact</h3>
                  <ul
                    class="footer-widget__contact-list list-unstyled clearfix"
                  >
                    <li>
                      <div class="icon">
                        <span class="icon-phone-call"></span>
                      </div>
                      <div class="text">
                        <h5>Call anytime</h5>
                        <p><a href="tel:14085690310">(408) 568 - 0310</a></p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <span class="icon-message"></span>
                      </div>
                      <div class="text">
                        <h5>Send email</h5>
                        <p>
                          <a href="mailto:marquardpaint@gmail.com"
                            >marquardpaint@gmail.com</a
                          >
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="icon">
                        <span class="icon-location"></span>
                      </div>
                      <div class="text">
                        <h5>380 St Kilda Road</h5>
                        <p>Melbourne, Australia</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="site-footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="site-footer__bottom-inner">
                  <p class="site-footer__bottom-text">
                    © Copyright 2025 by <a href="#">Uncore Digital</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i></span
        >

        <div class="logo-box">
          <a href="/index" aria-label="logo image"
            ><img
              src="assets/images/resources/footer-logo.png"
              width="155"
              alt=""
            /></a
          >
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:marquardpaint@gmail.com">marquardpaint@gmail.com</a>
          </li>
          <li>
            <i class="fa fa-phone-alt"></i>
            <a href="tel:14085690310">(408) 568 - 0310</a>
          </li>
        </ul>
        <!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
          <div class="mobile-nav__social">
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-facebook-square"></a>
            <a href="#" class="fab fa-pinterest-p"></a>
            <a href="#" class="fab fa-instagram"></a>
          </div>
          <!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__top -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <!-- <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div> -->
    <!-- /.search-popup__overlay -->
    <!-- <div class="search-popup__content">
        <form action="#">
          <label for="search" class="sr-only">search here</label> -->
    <!-- /.sr-only -->
    <!-- <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="icon-magnifying-glass"></i>
          </button>
        </form>
      </div> -->
    <!-- /.search-popup__content -->
    <!-- </div> -->
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="fa fa-angle-up"></i></a
    >

    <script is:inline src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <!-- <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"
      integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script> -->
    <script is:inline src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script is:inline src="/assets/vendors/jarallax/jarallax.min.js"></script>
    <script is:inline src="/assets/vendors/jarallax/jarallax-init.js"></script>
    <script
      is:inline
      src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script is:inline src="/assets/vendors/jquery-appear/jquery.appear.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script is:inline src="/assets/vendors/nouislider/nouislider.min.js"
    ></script>
    <script is:inline src="/assets/vendors/odometer/odometer.min.js"></script>
    <script is:inline src="/assets/vendors/slick/slick.min.js"></script>
    <script is:inline src="/assets/vendors/slick/slick-init.js"></script>
    <script is:inline src="/assets/vendors/slick/slick-theme-init.js"></script>
    <script is:inline src="/assets/vendors/tiny-slider/tiny-slider.min.js"
    ></script>
    <script is:inline src="/assets/vendors/wnumb/wNumb.min.js"></script>
    <script is:inline src="/assets/vendors/wow/wow.js"></script>
    <script is:inline src="/assets/vendors/isotope/isotope.js"></script>
    <script is:inline src="/assets/vendors/countdown/countdown.min.js"></script>
    <script is:inline src="/assets/vendors/owl-carousel/owl.carousel.min.js"
    ></script>
    <script is:inline src="assets/vendors/owl-carousel/owl-init.js" is:inline
    ></script>
    <script is:inline src="/assets/vendors/bxslider/jquery.bxslider.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"
    ></script>
    <script is:inline src="/assets/vendors/vegas/vegas.min.js"></script>
    <script is:inline src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script is:inline src="/assets/vendors/timepicker/timePicker.js"></script>
    <script is:inline src="/assets/vendors/circleType/jquery.circleType.js"
    ></script>
    <script is:inline src="/assets/vendors/circleType/jquery.lettering.min.js"
    ></script>

    <!-- template js -->
    <script is:inline src="/assets/js/ambed.js"></script>

    <!-- toolbar js -->
    <script is:inline src="/assets/vendors/toolbar/js/js.cookie.min.js"
    ></script>
    <script
      is:inline
      src="/assets/vendors/toolbar/js/jQuery.style.switcher.min.js"></script>
    <script is:inline src="/assets/vendors/toolbar/js/toolbar.js"></script>
    <script type="script">
      $(document).on(
        "click",
        ".mobile-nav__container .dropdown > a",
        function (e) {
          e.preventDefault();
          let parent = $(this).parent();
          parent.toggleClass("open");
          parent.find(".submenu").slideToggle(300);
        },
      );
    </script>
  </body>
</html>
